<h1>Sign Up</h1>
<h1><%=link_to "一般の方",new_user_registration_path %></h1>
<h1><%=link_to "アーティストの方",new_artist_registration_path %></h1>

<br>
<h1>ログイン</h1>
<h1><%=link_to "一般の方",new_user_session_path %></h1>
<h1><%=link_to "アーティストの方",new_artist_session_path %></h1>
