

<article>
	<section>
	<div class="header_title">
		<h2>LOW-CUL MUSIC,TO THE REGION.</h2>
		<div class="block_wrapM block_wrap">
			<span class="border"></span>
				<ul class="btn">
	<li class="front">SHARE</li>
	<li class="back icon">
			<ul class="sns_all" data-title="">
					<li><a class="sns_tw">n</a></li>
					<li><a class="sns_yt" >a</a></li>
					<li><a class="sns_fb">o</a></li>
					<li><a class="sns_gg">p</a></li>
					<li><a class="sns_sd">q</a></li>
			</ul>
	</li>
	</ul>			</div>
		<h3>LIVE MY LIFE WITH MUSIC</h3>
	</div>
</section>

	<section>
		<div class="box">

			<div class="box_header cf">
				<h1>NEWS</h1>
				<div class="block_wrapS">
					<div class="block_wrap">
						<a href="blog/index.html" class="btn">
							<div class="front">VIEW MORE</div>
							<div class="back">VIEW MORE</div>
						</a>
					</div>
				</div>
			</div><!-- .box_header -->

			<div class="box_body">


<div class="news_body">
	<div class="news_thumb">
		<p class="cover" data-src="http://plusblog.jp/wp-content/uploads/2013/03/13-570x351.jpg">2016.08.026</p>
	</div>
	<div class="news_text">
		<h1><a class="pjx" href="">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</a></h1>
	</div>
	<div class="news_link">
		<div class="block_wrapS">
			<div class="block_wrap">
				<a href="" class="btn pjx">
					<div class="front">READ MORE</div>
					<div class="back">READ MORE</div>
				</a>
			</div>
		</div>
	</div>
</div><!-- .news_body -->

<section>
	<div class="box album_body iindex">

		<div class="box_header cf">
			<h1>RANKING</h1>
			<div class="block_wrapS">
				<div class="block_wrap">
					<a href="" class="btn pjx">
						<div class="front">VIEW MORE</div>
						<div class="back">VIEW MORE</div>
					</a>
				</div>
			</div>
		</div><!-- .box_header -->

		<li class="globalnav">
			<ul class="nav navbar-nav navbar">
				<li><a class="pjx">総合</a></li>
				<li><a class="pjx">アイドル</a></li>
				<li><a class="pjx">DJ</a></li>
				<li><a class="pjx">J-POP</a></li>
				<li><a class="pjx">アニメ</a></li>
			</ul>
		</li>

	</div>

	<div class="albumLR albumH cf">
		<div class="albumL_wrap block_wrap albumH">
			<div class="albumL block albumH">
				<div class="front albumH"><img src="image/02.jpg"></div>
				<div class="back albumH">
					<ul>
					<li><a target="_blank" href="">ABOUT</a></li><li><a target="_blank" href="">MUSIC</a></li><li><a target="_blank" href="">MOVES</a></li>	<li><a target="_blank" href="">GOODS</a></li>				</ul>
				</div>
			</div>
		</div>
		<div class="albumR">
			<div>
				<h1>No1</h1>
				<h1>曲名</h1>
				<h2>ARTIST NAME</h2>
	            <br>
	            <h1>&#9825; 123456</h1>
			</div>
		</div><span class="albumM"></span>
	</div>


<div class="albumLR albumH cf">
	<div class="albumL_wrap block_wrap albumH">
		<div class="albumL block albumH">
			<div class="front albumH"><img src="image/02.jpg"></div>
			<div class="back albumH">
				<ul>
				<li><a target="_blank" href="">ABOUT</a></li><li><a target="_blank" href="">MUSIC</a></li><li><a target="_blank" href="">MOVES</a></li>	<li><a target="_blank" href="">GOODS</a></li>				</ul>
			</div>
		</div>
	</div>
	<div class="albumR">
		<div>
			<h1>NO.2</h1>
			<h2>ARTIST NAME</h2>
            <br>
            <h1>&#9825; 123456</h1>
		</div>
	</div><span class="albumM"></span>
</div>

<div class="albumLR albumH cf">
	<div class="albumL_wrap block_wrap albumH">
		<div class="albumL block albumH">
			<div class="front albumH"><img src="image/02.jpg"></div>
			<div class="back albumH">
				<ul>
				<li><a target="_blank" href="">ABOUT</a></li><li><a target="_blank" href="">MUSIC</a></li><li><a target="_blank" href="">MOVES</a></li>	<li><a target="_blank" href="">GOODS</a></li>				</ul>
			</div>
		</div>
	</div>
	<div class="albumR">
		<div>
			<h1>NO.3</h1>
			<h2>ARTIST NAME</h2>
            <br>
            <h1>&#9825; 123456</h1>
		</div>
	</div><span class="albumM"></span>
</div>
</section>

<%=link_to "続きを見る",artists_path %>
</article>
