<header>
	<div class="header">
		<nav>
			<ul class="header_nav cf">
				<li><h1><a class="pjx" href="">LOW-CUL MUSIC</a></h1></li>
				<li class="padmenu">
					<a href="#" class="tabmenu_open">
						<div class="tabmenu_open_bar1"></div>
						<div class="tabmenu_open_bar2"></div>
						<div class="tabmenu_open_bar3"></div>
					</a>
				</li>
				<li class="globalnav">
					<ul>
						<li><a class="pjx" href="">HOME</a></li>
            <li><a class="pjx" >RANKING</a></li>
            <li><a class="pjx" href="">PIC UP ARTIST</a></li>
            <li><a class="pjx" href="">ALL ARTIST</a></li>
						<li class="pulldown_wrap"><a class="pjx"><span>ABOUT</span></a>
							<ul class="pulldown">
								<li><a class="pjx">GOODS</a></li>
								<li><a class="pjx">HOW TO BUY</a></li>
								<li><a class="pjx">MEDIA</a></li>
							</ul>
						</li>
						<li><a class="pjx">BLOG</a></li>
						<li><a class="contact_open">CONTACT</a></li>
            <%=link_to "Sign up",signup_path %>
					</ul>
				</li>
				<li class="shadow"></li>
			</ul>
		</nav>
	</div><!-- .header -->
  <div class="header_title">
    <h2>LOW-CUL MUSIC,TO THE REGION.</h2>
    <div class="block_wrapM block_wrap">
      <span class="border"></span>
        <ul class="btn">
  <li class="front">SHARE</li>
  <li class="back icon">
      <ul class="sns_all" data-title="">
          <li><a class="sns_tw">n</a></li>
          <li><a class="sns_yt" >a</a></li>
          <li><a class="sns_fb">o</a></li>
          <li><a class="sns_gg">p</a></li>
          <li><a class="sns_sd">q</a></li>
      </ul>
  </li>
</ul>			</div>
    <h3>LIVE MY LIFE WITH MUSIC</h3>
  </div>
  <div id="movie_wrap">
    <div id="movie">
      <div id="player" data-tubeid="73O7tATQ8og"></div>
      <div id="player_mask" class="cover" ></div>
    </div>
  </div>
</header>

<article>
  <nav>
    <ul class="header_nav cf">
      <li class="globalnav">
        <ul>
          <li><a class="pjx">演歌</a></li>
          <li><a class="pjx">J-POP</a></li>
          <li><a class="pjx">K-POP</a></li>
          <li><a class="pjx" href="">RAP</a></li>
          <li><a class="pjx">R&B</a></li>
          <li><a class="pjx">ROCK</a></li>
          <li><a class="pjx">HEVEY METAL</a></li>
          <li><a class="pjx">DJ</a></li>
          <li><a class="pjx">レゲエ</a></li>
          <li><a class="pjx">Classic</a></li>
          <li><a class="pjx">Jazz</a></li>
          <li><a class="pjx">Idol</a></li>
        </ul>
      </li>
      <li class="shadow"></li>
    </ul>
  </nav>
  <br><br><br>
  <div class="home-parent">
    <div class="home-left">
  		<h1>盛り上がっている地域</h1>
  			<ul>
  				<li><a class="pjx">1.東京</a></li>
          <li><a class="pjx">2.</a></li>
  				<li><a class="pjx">3.</a></li>
  				<li><a class="pjx">4.</a></li>
  				<li><a class="pjx">5.</a></li>
        </ul>
    </div>

    <div class="home-right">
    <div class="tube_body">
    <div class="tube_slider">
			<h1>MOVIE.</h1>
      <div class="tube_slider_body">
	       <div class="cover tube_slider_mask" data-src="http://c.okmusic.jp/news_images/images/726302/original.jpg?1434537190"></div>
	        <div class="tube_slider_inner">
		        <h1>LOW-CUL MUSIC PV &#8220;with MUSIC!&#8221;</h1>
		          <a href="#" id="m3btn" class="btn_tube_play" > <div class="front">b</div> <div class="back">c</div> </a>
		            <div class="block_wrap block_wrapM">
			          <a href="" target="_blank" class="btn">
				        <div class="front">VIEW ON YOUTUBE</div>
				        <div class="back">VIEW ON YOUTUBE</div>
			          </a>
		        </div>
	        </div>
				<div id="m1"></div>
				<div id="m2"></div>
				<div id="m3"></div>
			</div><!-- .box_body -->
    </div>
    </div>
    </div>
  </div>

</article>
