<div class="header">
  <nav>
    <ul class="header_nav cf">
      <li><h1><a class="pjx" href="">LOW-CUL MUSIC</a></h1></li>
      <li class="padmenu">
        <a href="#" class="tabmenu_open">
          <div class="tabmenu_open_bar1"></div>
          <div class="tabmenu_open_bar2"></div>
          <div class="tabmenu_open_bar3"></div>
        </a>
      </li>
      <li class="globalnav">
        <ul>
          <li><a class="pjx" href="">HOME</a></li>
          <li><a class="pjx" >RANKING</a></li>
          <li><a class="pjx" href="">PIC UP ARTIST</a></li>
          <li><a class="pjx" href="">ALL ARTIST</a></li>
          <li class="pulldown_wrap"><a class="pjx"><span>ABOUT</span></a>
            <ul class="pulldown">
              <li><a class="pjx">GOODS</a></li>
              <li><a class="pjx">HOW TO BUY</a></li>
              <li><a class="pjx">MEDIA</a></li>
            </ul>
          </li>
          <li><a class="pjx">BLOG</a></li>
          <li><a class="contact_open">CONTACT</a></li>
          <%=link_to "Sign up",signup_path %>
        </ul>
      </li>
      <li class="shadow"></li>
    </ul>
  </nav>
</div><!-- .header -->
