
<h1>曲名:<%=music.name %></h1>
<h1>♡<%=music.point %></h1>
<button id="good">いいね！</button>
<video width="530",height="315">
  <source src="<%=music.URL %>">
</video>
<h1>ジャンル:<%=music.genre %></h1>


<script>
$('#good').click(function(){
	alert('Hello World!');
});
</script>
