<% @music.URL="https://www.youtube.com/embed/"+@music.URL %>
<h1><%=@music.name %></h1>
<%=render 'like' %>
<iframe width="560" height="315" src="<%=@music.URL%>" frameborder=="0" allowfullscreen></iframe>
<h1>ジャンル:<%=@music.genre %></h1>
